<nav class="navbar navbar-expand-sm navbar-light">

  <div class="container justify-content-between">
  <ul class="navbar-nav">
    <li class="nav-item dropdown underline-hover" ngbDropdown>
    
      <a class="nav-link dropdown" id="dropdown01" ngbDropdownToggle href="#">Jewelry & Accessories</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">Neckles</a>
        <a class="dropdown-item" href="#">Prings</a>
        <a class="dropdown-item" href="#">Finger Sprinkiles</a>
      </div>
    </li>
  </ul>

<ul class="navbar-nav">
    <li class="nav-item dropdown underline-hover" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Clothing & Shoes</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">Leg cloths</a>
        <a class="dropdown-item" href="#">body cloths</a>
        <a class="dropdown-item" href="#">Feet cloths</a>
      </div>
    </li>
  </ul>

  <ul class="navbar-nav">
    <li class="nav-item dropdown underline-hover" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Home & Living</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">furniture sock</a>
        <a class="dropdown-item" href="#">naked rugs</a>
        <a class="dropdown-item" href="#">wall hair extentions</a>
      </div>
    </li>
  </ul>


    <ul class="navbar-nav">
      <li class="nav-item dropdown underline-hover" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Wedding & Party</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">see through dress</a>
          <a class="dropdown-item" href="#">yelling banners</a>
          <a class="dropdown-item" href="#">adult slurpees</a>
        </div>
      </li>
    </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown underline-hover" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Toys & Entertainment</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" href="#">wooden cheese tv</a>
            <a class="dropdown-item" href="#">all american reject toys</a>
            <a class="dropdown-item" href="#">ear sounds</a>
          </div>
        </li>
      </ul>

        <ul class="navbar-nav">
          <li class="nav-item dropdown underline-hover" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Art & Collectibles</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
              <a class="dropdown-item" href="#">upside down paints</a>
              <a class="dropdown-item" href="#">invisible papper</a>
              <a class="dropdown-item" href="#">24k golden marionberry muffins</a>
            </div>
          </li>
        </ul>

          <ul class="navbar-nav">
            <li class="nav-item dropdown underline-hover" ngbDropdown>
              <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Craft Supplies & Tools</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
                <a class="dropdown-item" href="#">little baby ham hammers</a>
                <a class="dropdown-item" href="#">flame thrower</a>
                <a class="dropdown-item" href="#">foaming knees</a>
              </div>
            </li>
          </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown underline-hover" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Vintage</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">old underwear</a>
          <a class="dropdown-item" href="#">stinky blue milk</a>
          <a class="dropdown-item" href="#">99¢ flaming lips</a>
        </div>
      </li>
    </ul>

  </div>
</nav>