<div>
  <br>
  <h3 class="sub-header">{{title}}</h3>
  <br>
  <div class="card-group">
    <div class="card" class='col-sm-{{Math.floor(12/cards.length)}}' *ngFor="let item of cards; let i = index">
      <img class="card-img-top" src="{{item.src}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> {{item.text}}</h5>
        <p class="card-text" *ngIf="item.description">
          <small class="text-muted">{{item.description}}</small>
        </p>
        <p class="card-text" *ngIf="item.price">{{item.price}}</p>
      </div>
    </div>
  </div>
</div>