<div>
 <app-navbar></app-navbar>
    <under-nav></under-nav>



  <top-row class="col-sm-12"></top-row>
  <br>
  <br>
  <br>
    <div class="row">
      <div class="col-4 etsy-works">
        <h6>
          <span class="check">✓</span> Unique everything</h6>
        <p>We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).</p>
      </div>
      <div class="col-4 etsy-works">
        <h6>
          <span class="check">✓</span> Independent sellers</h6>
        <p>Buy directly from someone who put their heart and soul into making something special.</p>
      </div>
      <div class="col-4 etsy-works">
        <h6>
          <span class="check">✓</span> Secure shopping</h6>
        <p>We use best-in-class technology to protect your transactions.</p>
      </div>
    </div>
    <br>
  <br>
  <h3 class="sub-header">Popular right now</h3>
  <br>
  <card-row class="col-sm-12" [cards]="firstCards"> </card-row>
    <br>
    <h3 class="sub-header">Shop by category</h3>
    <br>
  <card-row class="col-sm-12" [cards]="secondCards"> </card-row>
    <br>
    <h3 class="sub-header">Browse our latest collections</h3>
    <br>
  <card-row class="col-sm-12" [cards]="thirdCards"> </card-row>
  <br>
  <h3 class="sub-header">Shop for gifts</h3>
  <br>
  <card-row class="col-sm-12" [cards]="fourthCards"> </card-row>
    <br>
    <h3 class="sub-header">Shop for gifts</h3>
    <br>
  <card-row class="col-sm-12" [cards]="fifthCards"> </card-row>
  <br>
    <br>
            <br>
            <h3 class="sub-header">Recent reviews from happy people
            </h3>
            <br>
    <card-row class="col-sm-12" [cards]="sixthCards"> </card-row>
    <br>


  

  <div class="row" style="background-color: blue; height:100px"></div>
  <div class="row" style="background-color: yellow; height:100px"></div>
  <div class="row" style="background-color: saddlebrown; height:100px"></div>

  <!--
  <h1>{{title}}</h1>
  <router-outlet></router-outlet> -->
</div>