<div>

  <div class="row" style="height:100px">
    <app-navbar></app-navbar>
    <under-nav></under-nav>
  </div>
  <top-row class="col-sm-12"></top-row>
  <card-row class="col-sm-12" [cards]="firstCards"> </card-row>
  <card-row class="col-sm-12" [cards]="secondCards"> </card-row>
  <card-row class="col-sm-12" [cards]="thirdCards"> </card-row>

  <div class="row" style="background-color: blue; height:100px"></div>
  <div class="row" style="background-color: yellow; height:100px"></div>
  <div class="row" style="background-color: saddlebrown; height:100px"></div>

  <!--
  <h1>{{title}}</h1>
  <router-outlet></router-outlet> -->
</div>