<div class="row">
  <div class="col-4 etsy-works">
    <h6>
      <span class="check">✓</span> Unique everything</h6>
    <p>We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).</p>
  </div>
  <div class="col-4 etsy-works">
    <h6>
      <span class="check">✓</span> Independent sellers</h6>
    <p>Buy directly from someone who put their heart and soul into making something special.</p>
  </div>
  <div class="col-4 etsy-works">
    <h6>
      <span class="check">✓</span> Secure shopping</h6>
    <p>We use best-in-class technology to protect your transactions.</p>
  </div>
</div>