<div class="container top-row" style="background-color:white;">

  <div class="row">
    <div class='col-sm-8' style="height:320px">
      <ngb-carousel *ngIf="cards" [interval]="500000000">
        <ng-template ngbSlide *ngFor="let card of cards">
          <img class='top-row-card-image col-sm-8' style='max-height:320px'[src]="card.src" alt="Random first slide">
          <div class='top-row-card col-sm-4'>
            <div class="carousel-caption">
              <h3>{{card.title}}</h3>
              <p>{{card.sub}}</p>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-sm-4">
      <img class='col-sm-12 p-3' style='border-radius:5px' src="../../assets/img/dogcoller.jpg">
      <div class='col-sm-12 p-3' style='background-color:#e5bab3; height:65px'>
        <p style="color:white">Hello my name is</p>
      </div>

    </div>
  </div>
</div>