<top-row></top-row>
<app-dynamic-card-row class="col-sm-12" [cards]="dynamicCards" [count]="3" [title]="'Popular right now'"> </app-dynamic-card-row>

<app-text-columns></app-text-columns>
<card-row class="col-sm-12" [cards]="firstCards" [title]="'Popular right now'"> </card-row>
<card-row class="col-sm-12" [cards]="secondCards" [title]="'Shop by category'"> </card-row>
<card-row class="col-sm-12" [cards]="thirdCards" [title]="'Browse our latest collections'"> </card-row>
<card-row class="col-sm-12" [cards]="fourthCards" [title]="'Shop for gifts'"> </card-row>
<app-yellow-card [title]="'Shop for gifts'"></app-yellow-card>

<card-row class="col-sm-12" [cards]="sixthCards" [title]="'Recent reviews from happy people'"> </card-row>